@model IEnumerable<CrudNet7MVC.Models.Contacto>

@{
    ViewData["Title"] = "Lista de contactos";
}

<h1 class="text-center">Contactos con .NET 7 (.NET Core MVC)</h1>

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a class="btn btn-secondary d-block mx-auto btn-lg" asp-action="Crear" asp-controller="Inicio">
            <i class="bi bi-person-plus-fill">&nbsp</i>Nuevo contacto
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h4 class="text-white"><strong>Lista de contactos</strong></h4>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                @if(Model.Count() > 0) {
                    <table class="table-bordered" width="100%" cellpadding="0" id="tblUsuarios">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Id)</th>
                                <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Telefono)</th>
                                <th>@Html.DisplayNameFor(m => m.Celular)</th>
                                <th>@Html.DisplayNameFor(m => m.Email)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model) {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Id)</td>
                                    <td>@Html.DisplayFor(m => item.Nombre)</td>
                                    <td>@Html.DisplayFor(m => item.Telefono)</td>
                                    <td>@Html.DisplayFor(m => item.Celular)</td>
                                    <td>@Html.DisplayFor(m => item.Email)</td>
                                    <td>
                                        <a class="btn btn-secondary" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                                        <a class="btn btn-warning" asp-action="Detalle" asp-route-id="@item.Id">Detalle</a>
                                        <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                } else {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>

@*<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">*@

@*<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>*@

@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblUsuarios').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
    }